body{
	background-image: url("https://cdn.hipwallpaper.com/i/99/26/OYeEJy.png");
	background-size: cover;
}

.navbar-brand
{
	font-family: Acme;
	color: white;
	font-size: 1.5em;
}
.nav-item
{
	width: 210px;
	margin: 0 5%;
	text-align: center;
}
.nav-item:hover
{
	border: 1px solid rgb(255, 174, 0);
	border-radius: 0.5em;
	box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.4);
}
.active
{
	border: 1px solid blue;
	border-radius: 0.5em;
	box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.4);
}
.sign-out
{
	margin-left: 15%;
	border-radius: 0.75em;
}
.contain{
	margin: 10px 20px;
}